@{ 
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1>Contact us</h1>
    <p>If you have any questions please do not hesitate contact us:</p>
    <a href = "mailto: Mhmdhmooda44@gmail.com">Send Email</a>

</div>